{# {{ form(form) }} #}
<!-- afiche toute la formulaire-->
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Ajouter livre</title>

		<!-- Add Bootstrap CSS -->
		<link
		rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

		<!-- Add any other CSS or stylesheets you need -->
		<link rel="stylesheet" href="path-to-your-custom.css">
	</head>
	<body>
		<div class="container">
			<h1>Ajouter livre</h1>

			{{ form_start(f) }}
			<div class="form-group">
				{{ form_label(f.ref, "Reference:", {'label_attr': {'class': 'control-label'}}) }}
				{{ form_widget(f.ref, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(f.title, "Title:", {'label_attr': {'class': 'control-label'}}) }}
				{{ form_widget(f.title, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(f.category, "Category:", {'label_attr': {'class': 'control-label'}}) }}
				{{ form_widget(f.category, {'attr': {'class': 'form-control'}}) }}
			</div>

			<div class="form-group">
				{{ form_label(f.publicationDate, "Publication Date:", {'label_attr': {'class': 'control-label'}}) }}
				<div class="input-group date">
					{{ form_widget(f.publicationDate, {'attr': {'class': 'form-control'}}) }}
					<div class="input-group-append">
						<span class="input-group-text">
							<i class="fas fa-calendar"></i>
						</span>
					</div>
				</div>
			</div>


			<div class="form-group">
				{{ form_label(f.author, "Author:", {'label_attr': {'class': 'control-label'}}) }}
				{{ form_widget(f.author, {'attr': {'class': 'form-control'}}) }}
			</div>
			<div class="form-group">
				<div class="form-check">
					{{ form_widget(f.published, {'attr': {'class': 'form-check-input'}}) }}
					{{ form_label(f.published, "Publique ", {'label_attr': {'class': 'form-check-label'}}) }}
				</div>
			</div>


			<div class="form-group">
				{{ form_widget(f.Ajouter, {'attr': {'class': 'btn btn-primary'}}) }}
			</div>

			{{ form_end(f) }}
		</div>


		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


	</body>
</html>
